{%- set key = module.category|lower|regex_replace("[^a-z0-9]", "") -%}
{%- set cat = all_categories_map[key] -%}
<div class="featured-category product-info {% if module.swap_image_and_details %}product-info--swap{% endif %}">
  <div class="product-info__image flex-image" style="background-image: url('{{ module.image.src|default(get_asset_url('../../images/brix-placeholder.png'), True) }}');">
    <div></div>
  </div>
  <div class="product-info__details">
    <h2>{{ module.category }}</h2>
    <div class="product-info__intro">{{ module.intro }}</div>
    <ul class="featured-category__product-list">
      {%- for product in all_products -%}
        {%- if product.category|lower|regex_replace("[^a-z0-9]", "") == key -%}
        {%- set price_suffix = product.price_unit|default(widget_data.shop_settings.default_price_unit, True) -%}
        {%- set price_suffix = price_suffix ? "/" ~ price_suffix : "" -%}
        <li class="product-list-item">
          <a href="{{ widget_data.shop_settings.page_links.product_details.href }}?id={{ product.id }}">
            <span class="product-list-item__image flex-image" style="background-image: url('{{ resize_image_url(product.image, 500)|default(get_asset_url('../../images/brix-placeholder.png'), True) }}');"></span>
            <p class="product-list-item__name">{{ product.name }}</p>
            <p class="product-list-item__price">
              <span>{{ product.price|format_currency }}</span>{{ price_suffix }}
            </p>
          </a>
        </li>
        {%- endif -%}
      {%- endfor -%}

      {% if all_products|length == 0 %}
        {%- for i in range(0, 2) -%}
          <li class="product-list-item">
            <a href="#">
              <span class="product-list-item__image flex-image" style="background-image: url('{{ resize_image_url(product.image, 500)|default(get_asset_url('../../images/brix-placeholder.png'), True) }}');"></span>
              <p class="product-list-item__name">Snorkeling Blue Lagoon with Lunch & Guide</p>
              <p class="product-list-item__price">
                <span>€24</span>/person
              </p>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <p class="featured-category__bottom-cta"><a class="button" href="{{ widget_data.shop_settings.page_links.category.href }}?category={{ key }}">See more options</a></p>
  </div>
</div>